@font-face {
    font-family: 'Opti Agency Gothic';
    src: url('./assets/fonts/OPTIAgency-Gothic.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lilita One';
    src: url('./assets/fonts/LilitaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}